<form class="example-form" [formGroup]="signUpForm" novalidate>
    <mat-form-field class="example-full-width">
      <mat-label>Your Email</mat-label>
      <input matInput class="form-control" #userEmail formControlName="userEmail">
      <div class="alert alert-danger"
                            *ngIf="signUpForm.controls['userEmail'].invalid && signUpForm.controls['userEmail'].touched">
                            Incorrect email
                        </div>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Your Password</mat-label>
        <input matInput class="form-control" formControlName="userPassword" #userPassword type="password">
    </mat-form-field>
    <br>
    <div class="formGroup">
      <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPassword.value)">
    </div>
    
  </form>
